
.icon-bobi-main {
  background-image: url('images/bobi-main.png');
  background-repeat: no-repeat;
}


h3.killer-logo a {
  background-image: url('images/logo-main.png');
  background-repeat: no-repeat;
}



.icon-fa-cal {
  background-image: url('images/fa-cal.png');
  background-repeat: no-repeat;
}

.icon-fa-chevron-down {
  background-image: url('images/fa-chevron-down.png');
  background-repeat: no-repeat;
}
.icon-fa-chevron-left-white {
  background-image: url('images/fa-chevron-left-white.png');
  background-repeat: no-repeat;
}

.icon-fa-chevron-left {
  background-image: url('images/fa-chevron-left.png');
  background-repeat: no-repeat;
}

.icon-fa-chevron-right {
  background-image: url('images/fa-chevron-right.png');
  background-repeat: no-repeat;
}

.icon-fa-comment {
  background-image: url('images/fa-comment.png');
  background-repeat: no-repeat;
}

.icon-fa-edit {
  background-image: url('images/fa-edit.png');
  background-repeat: no-repeat;
}

.icon-fa-find {
  background-image: url('images/fa-find.png');
  background-repeat: no-repeat;
}

.icon-fa-folder {
  background-image: url('images/fa-folder.png');
  background-repeat: no-repeat;
}

.icon-fa-gift {
  background-image: url('images/fa-gift.png');
  background-repeat: no-repeat;
}

.icon-fa-home {
  background-image: url('images/fa-home.png');
  background-repeat: no-repeat;
}

.icon-fa-tag {
  background-image: url('images/fa-tag.png');
  background-repeat: no-repeat;
}

.icon-fa-user {
  background-image: url('images/fa-user.png');
  background-repeat: no-repeat;
}


.glyphicon-check {
  background-image: url('images/check-circle-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-arrow-right {
  background-image: url('images/chevron-right-circle-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-chevron-right {
  background-image: url('images/chevron-right-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-download {
  background-image: url('images/download-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-info-sign {
  background-image: url('images/info-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-question-sign {
  background-image: url('images/question-sign-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-arrow-left {
  background-image: url('images/chevron-left-circle-smokey.png');
  background-repeat: no-repeat;
}

.glyphicon-chevron-left {
  background-image: url('images/chevron-left-smokey.png');
  background-repeat: no-repeat;
}
