@media (min-width:480px) {
  #colophon #toolkit,
  #colophon #utk {
    margin-right: 1.5873%;
    margin-left : 1.5873%;
    width       : 46.8254%;
  }

  #primary {
    padding     : 0;
    margin-right: 1.5873%;
    margin-left : 1.5873%;
    width       : 96.8254%;
  }
}
@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-bottom .navbar-collapse,
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}
