@media print {
  blockquote,
  img,
  pre,
  tr {
    page-break-inside: avoid;
  }

  *,
  :after,
  :before {
    background : 0 0!important;
    color      : #000!important;
    box-shadow : none!important;
    text-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  .entry-content a[href]:after {
    content: ' (' attr(href) ')';
  }

  abbr[title]:after {
    content: ' (' attr(title) ')';
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: '';
  }

  blockquote,
  pre {
    border: 1px solid #999;
  }

  thead {
    display: table-header-group;
  }

  .findpage,
  .navbar,
  .sidebar-offcanvas,
  .sticky-wrapper {
    display: none;
  }

  img {
    max-width: 100%!important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows : 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  select {
    background: #fff!important;
  }

  #page .gform_wrapper .dropup > input[type=button] > .caret,
  #page .gform_wrapper .dropup > input[type=file] > .caret,
  #page .gform_wrapper .dropup > input[type=reset] > .caret,
  #page .gform_wrapper .dropup > input[type=submit] > .caret,
  #page .gform_wrapper input[type=button] > .caret,
  #page .gform_wrapper input[type=file] > .caret,
  #page .gform_wrapper input[type=reset] > .caret,
  #page .gform_wrapper input[type=submit] > .caret,
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000!important;
  }

  .label {
    border: 1px solid #000;
  }

  #content table,
  .table {
    border-collapse: collapse!important;
  }

  #content table td,
  #content table th,
  .table td,
  .table th {
    background-color: #fff!important;
  }

  .table-bordered td,
  .table-bordered th {
    border: 1px solid #ddd!important;
  }

  #primary {
    width: 100%;
  }

  #linkdrawer,
  #page .gform_wrapper .gfield_error,
  .box-light {
    border: 1px solid #58595b!important;
  }

  #masthead.stuck {
    position: relative;
  }

  .visible-print-block {
    display: block!important;
  }

  .visible-print {
    display: block!important;
  }

  table.visible-print {
    display: table;
  }

  tr.visible-print {
    display: table-row!important;
  }

  td.visible-print,
  th.visible-print {
    display: table-cell!important;
  }

  .visible-print-inline {
    display: inline!important;
  }

  .visible-print-inline-block {
    display: inline-block!important;
  }

  .hidden-print {
    display: none!important;
  }
}
