svg:not(:root) {
	overflow: hidden;
}

.entityform-form-elements ol.progress-track {
  display: table;
  list-style-type: none;
  margin: 0;
  padding: 2em 1em;
  table-layout: fixed;
  width: 100%;
}
.entityform-form-elements ol.progress-track li {
  display: table-cell;
  line-height: 3em;
  position: relative;
  text-align: center;
}
.entityform-form-elements ol.progress-track li .icon-wrap {
  border-radius: 50%;
  top: -1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  left: 0;
  right: 0;
  position: absolute;
  width: 2.5em;
}
.entityform-form-elements ol.progress-track li .icon-check-mark,
.entityform-form-elements ol.progress-track li .icon-down-arrow {
  height: 25px;
  width: 15px;
  display: inline-block;
  fill: currentColor;
}
.entityform-form-elements ol.progress-track li .progress-text {
  position: relative;
  top: 10px;
}
.entityform-form-elements ol.progress-track li.progress-done {
  border-top: 7px solid #2197A9;
  transition: border-color 1s ease-in-out;
  -webkit-transition: border-color 1s ease-in-out;
  -moz-transition: border-color 1s ease-in-out;
}
.entityform-form-elements ol.progress-track li.progress-done .icon-down-arrow {
	position: relative;
  top: 10%;
  left: 0;
}
.entityform-form-elements ol.progress-track li.progress-done.progress-current .icon-wrap {
  background-color: #FF8200;
	border: 5px solid hsla(31, 100%, 50%, 0.02);
}
.entityform-form-elements ol.progress-track li.progress-done.progress-current .icon-wrap .icon-check-mark {
  /*display: block;*/
}
.entityform-form-elements ol.progress-track li.progress-done.progress-current .icon-wrap .icon-down-arrow {
  /*display: block;*/
}
.entityform-form-elements ol.progress-track li.progress-done .icon-wrap {
	position: absolute;
	top: -25px;
  background-color: #2197A9;
  border: 5px solid #2197A9;
}
.entityform-form-elements ol.progress-track li.progress-todo {
  border-top: 7px solid #A7A9AC;
  color: black;
}
.entityform-form-elements ol.progress-track li.progress-todo .icon-wrap {
  background-color: #FFF;
  border: 5px solid #A7A9AC;
  border-radius: 50%;
  bottom: 1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  position: relative;
  width: 2.5em;
}
.entityform-form-elements ol.progress-track li.progress-todo .icon-wrap .icon-check-mark,
.entityform-form-elements ol.progress-track li.progress-todo .icon-wrap .icon-down-arrow {

}
