@import url('progress.css');


/* CSS3 Variables (Custom Properties) for branding colors */ 

:root {
  --utorange: #FF8200;
  --leconte: #8D2048;
  --fountain: #2197A9;
  --limestone: #F0EDE3;
  --smokey: #58595B;
  --rock: #A7A9AC;
}



/* Removes text shawdowing from lists: ex. the Drupal admin toolbar */ 
 
.site-content li a { 
    text-shadow: none !important; 
    background: none !important;
    } 

/* Add a right margin to space out ajoining buttons in forms and on the bottom to space out from page footer */ 
    #edit-next, #edit-prev {
     margin-right: 15px;
     margin-bottom: 15px;
     }
     
/* Adjusts margins, padding, border radius, and colors of Islandora search pagination */

.pager li>a, .pager li>span  {
	display: inline-block;
    padding: 5px 14px;
    margin: 5px 0px;
    background-color: #fff;
    border: 1px solid #a7a9ac;
  	border-radius:8px; 
	-moz-border-radius:8px; 
	-webkit-border-radius:8px; 
}

.pager li.pager-current {
	display: inline-block;
    padding: 5px 14px;
	background-color: var(--limestone);
	border: 1px solid #a7a9ac;
	border-radius:8px; 
	-moz-border-radius:8px; 
	-webkit-border-radius:8px;
}
    
 
#top-menu {
	height: 40px;
	width: 100%;
	background: #ffffff;
	clear: both;
	font-size: 18px;
	padding: 5px 15px 5px 90px;
 }
 
#top-menu #block-menu-menu-default-login {
	background: #ffffff;
	float: right;
 }
 
 #top-menu #block-system-user-menu {
	background: #ffffff;
	float: right;	 
 }
 
 #top-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

#top-menu ul li {
	display: inline;
}

#search-bar {
	height: 80px;
	width: 100%;
	background: var(--smokey);
	clear: both;
 }
 
#search-bar label {
	visibility: hidden;
 }
 
#search-bar input[type=text] {
 	margin: 15px 15px 15px 200px;
 	height: 50px;
 	width: 50%;
 	border: 1px solid #ccc;
 	border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
 }
 
 #search-bar input[type=submit] {
 	background-color: #f8f8f8;
 	height: 50px;
 	border: 1px solid #ccc;
 	border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px; 
 }
 
 #secondary-menu {
	height: 30px;
	width: 100%;
	background: #ffffff;
	clear: both;
	font-size: 14px;
	padding: 5px 15px 5px 90px;
 }
  
 #secondary-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

#secondary-menu ul li {
	display: inline;
}

#secondary-menu #block-menu-menu-manager-navigation {
	background: #ffffff;
	float: right;
 }
 
 
#left-menu {
	width: 25%;
	padding-right: 15px;
	float: left;
}

#page-content {
	width: 75%; 
	float: right;
}


/* Login Form */
#auth_box {
  background-color: var(--limestone);
  padding: 20px;
  margin: 20px auto;
  width:325px;
}
#auth_box .form-submit {  
  background-color: var(--utorange);
  color: #FFF;
}
#auth_box label{
  color: var(--smokey);
}

 
@media only screen and (max-width: 900px) {
	 
 #search-bar input[type=text] {
 margin: 15px;
 height: 50px;
 width: 50%;
 }	 
	 
 }