@import url('2015-05-20-style.css');
@import url('progress.css');
@import url('max-width-767.css');
@import url('max-width-900.css');
@import url('min-width-1200.css');
@import url('min-width-1400.css');
@import url('min-width-480.css');
@import url('min-width-768.css');
@import url('min-width-991.css');
@import url('print.css');
/* CSS3 Variables (Custom Properties) for branding colors */
:root {
  --utorange : #FF8200;
  --torch    : #E65933;
  --leconte  : #8D2048;
  --fountain : #2197A9;
  --globe    : #006C93;
  --limestone: #F0EDE3;
  --smokey   : #58595B;
  --rock     : #A7A9AC;
}

#content div.region.region-content {
  padding-bottom: 50px;
}
/* Removes text shawdowing from lists: ex. the Drupal admin toolbar */
.site-content li a {
  text-shadow: none !important;
  background : none !important;
}
/* Add a right margin to space out ajoining buttons in forms and on the bottom to space out from page footer */
#edit-next,
#edit-prev {
  margin-right : 15px;
  margin-bottom: 15px;
}
/* Adjusts margins, padding, border radius, and colors of Islandora search pagination */
.pager li > a,
.pager li > span {
  display              : inline-block;
  padding              : 5px 14px;
  margin               : 5px 0;
  background-color     : #fff;
  border               : 1px solid #a7a9ac;
  border-radius        : 8px;
  -moz-border-radius   : 8px;
  -webkit-border-radius: 8px;
}

.pager li.pager-current {
  display              : inline-block;
  padding              : 5px 14px;
  background-color     : var(--limestone);
  border               : 1px solid #a7a9ac;
  border-radius        : 8px;
  -moz-border-radius   : 8px;
  -webkit-border-radius: 8px;
}

dd.solr-value.mods-titleinfo-title-ms a {
  color             : var(--globe);
  text-shadow       : none;
  -webkit-transition: none;
  -moz-transition   : none;
  -o-transition     : none;
  transition        : none;
  background        : none;
  text-decoration   : none;
  font-size         : 18px;
}

.islandora-inline-metadata dd {
  width       : 79.375%;
  padding-left: 0;
}

.tooltiptext_plus {
  visibility      : hidden;
  width           : 120px;
  background-color: var(--smokey);
  color           : #fff;
  text-align      : center;
  border-radius   : 4px;
  padding         : 5px 0;
  /* Position the tooltip */
  position        : absolute;
  z-index         : 1;
  opacity         : 0;
  transition      : opacity 1s;
  top             : -5px;
  left            : 110%;
}

.tooltiptext_minus {
  visibility      : hidden;
  width           : 120px;
  background-color: var(--smokey);
  color           : #fff;
  text-align      : center;
  border-radius   : 4px;
  padding         : 5px 0;
  position        : absolute;
  z-index         : 1;
  opacity         : 0;
  transition      : opacity 1s;
  top             : -5px;
  left            : 110%;
}

.tooltiptext_minus::after,
.tooltiptext_plus::after {
  content     : '';
  position    : absolute;
  top         : 50%;
  right       : 100%;
  margin-top  : -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--smokey) transparent transparent;
}

#block-islandora-solr-basic-facets li {
  max-width    : 100%;
  line-height  : 1.75em;
  cursor       : pointer;
  padding      : 0 0.25em;
  border-radius: 3px;
  color        : #3a3a3a;
  margin-right : 0.2em;
}

#block-islandora-nested-collections-nested-collections-list .content li a {
  padding-left: 10px;
}

#block-islandora-nested-collections-nested-collections-list div.content ul,
#block-islandora-solr-basic-facets ul {
  list-style: none;
  max-width : 575px;
}

#block-islandora-nested-collections-nested-collections-list .content li:hover:not([disabled]) {
  color           : #080606;
  background-color: rgba(58,58,58,.1);
}

#block-islandora-solr-basic-facets li:hover:not([disabled]) {
  color           : #080606;
  background-color: rgba(58,58,58,.1);
}

#block-islandora-solr-basic-facets li:nth-child(n) span.plusminus {
  position: relative;
  display : inline-block;
  padding : 0 10px 0 20px;
}

#block-islandora-solr-basic-facets li:nth-child(n) span.plusminus span.plus_facet:hover span.tooltiptext_plus {
  visibility: visible;
  opacity   : 0.9;
}

#block-islandora-solr-basic-facets li:nth-child(n) span.plusminus span.minus_facet:hover span.tooltiptext_minus {
  visibility: visible;
  opacity   : 0.9;
}

#block-islandora-solr-basic-facets li {
  padding-left: 10px;
}
/* //////////// END SEARCH PAGE //////////// */
#secondary-menu ul {
  list-style-type: none;
  margin         : 0;
  padding        : 0;
}

#secondary-menu ul li {
  display: inline;
}

#secondary-menu #block-menu-menu-manager-navigation {
  background: #ffffff;
  float     : left;
}

#secondary-menu #block-menu-menu-default-login {
  background   : #ffffff;
  float        : right;
  padding-right: 25px;
}

#secondary-menu #block-system-user-menu {
  background   : #ffffff;
  float        : right;
  padding-right: 25px;
}
/* Solr search results */
dl.solr-thumb {
  float     : left;
  width     : 15%;
  visibility: hidden;
}
/* Login Form */
#auth_box {
  background-color: var(--limestone);
  padding         : 20px;
  margin          : 20px auto;
  width           : 325px;
}

#auth_box .form-submit {
  background-color: var(--utorange);
  color           : #FFF;
}

#auth_box label {
  color: var(--smokey);
}

h2.subtitle {
  font-size  : 1.5rem;
  font-weight: 400;
  line-height: 1.25;
  color      : var(--torch);
  margin-top : 0;
}

.notification.is-danger {
  background-color: #c7254e;
  color           : #fff;
}

.notification {
  position          : relative;
  top               : 0;
  padding           : 0.9em 0.9em 0.9em 2.4em;
  border-radius     : 0;
  height            : auto;
  -moz-transition   : transform 0.2s;
  -ms-transition    : transform 0.2s;
  -o-transition     : transform 0.2s;
  -webkit-transition: transform 0.2s;
  transition        : transform 0.2s;
  width             : 100%;
}

.notification > .delete {
  position: absolute;
  right   : 0.5em;
  top     : 0.5em;
}

.delete {
  -webkit-touch-callout: none;
  -webkit-user-select  : none;
  -moz-user-select     : none;
  -ms-user-select      : none;
  user-select          : none;
  -moz-appearance      : none;
  -webkit-appearance   : none;
  background-color     : rgba(10, 10, 10, 0.2);
  border               : none;
  border-radius        : 290486px;
  cursor               : pointer;
  display              : inline-block;
  -webkit-box-flex     : 0;
  -ms-flex-positive    : 0;
  flex-grow            : 0;
  -ms-flex-negative    : 0;
  flex-shrink          : 0;
  font-size            : 1rem;
  height               : 20px;
  max-height           : 20px;
  max-width            : 20px;
  min-height           : 20px;
  min-width            : 20px;
  outline              : none;
  position             : relative;
  vertical-align       : top;
  width                : 20px;
}

.delete:before {
  height: 2px;
  width : 50%;
}

.delete:after,
.delete:before {
  background-color        : white;
  content                 : '';
  display                 : block;
  left                    : 50%;
  position                : absolute;
  top                     : 50%;
  -webkit-transform       : translateX(-50%) translateY(-50%) rotate(45deg);
  transform               : translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin        : center center;
}

*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing        : inherit;
}

.delete:after {
  height: 50%;
  width : 2px;
}

.white_link {
  color: #fff;
}

#front_page_orange-bar {
  display   : block;
  float     : left;
  min-height: 6px;
  background: #FF8200;
  width     : 100%;
  z-index   : 2050;
  clear     : both;
  color     : #fff;
}
/* Modified links to look like they exist but are unavailable */
.embargoed_link {
  color          : currentColor;
  cursor         : not-allowed;
  opacity        : 0.5;
  text-decoration: none;
  pointer-events : none;
}
/* Fixes the Details spacing on the object page */
#block-islandora-nested-collections-nested-collections-list,
html.js fieldset.collapsed {
  padding-bottom: 100px;
}

dl.solr-fields {
  width: 100%;
}

dd.collection-value.dc-title {
  margin: 0;
}

dd.collection-value.dc-description {
  float             : left;
  overflow          : hidden;
  display           : -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* Collection Specific Adjustments */
/* Datasets */
.sidebar #block-islandora-compound-object-compound-jail-display .content img {
  width     : 0;
  max-width : 0;
  visibility: hidden;
  height    : 0;
  padding   : 0;
  margin    : 0;
  clear     : both;
}

.islandora-binary-object-metadata fieldset dl dt {
  /* background-color: #dedede; */
  padding-left: 10px;
}

.islandora-binary-object-metadata fieldset dl dd,
.islandora-binary-object-metadata fieldset p {
  padding-top   : 4px;
  padding-bottom: 0;
  padding-left  : 10px;
  margin        : 0;
}

.islandora-basic-collection-object.islandora-basic-collection-list-item.clearfix dd.collection-value.dc-date {}

.islandora-basic-collection-list-item dl dd {
  margin: 0;
}

#block-system-main .islandora-binary-object-metadata fieldset {
  margin-bottom: 30px;
  margin-right : 10px;
}

#islandora-compound-next-link,
#islandora-compound-previous-link,
#islandora-compound-sequence-position {
  padding-top : 20px;
  padding-left: 4px;
  float       : right;
}
/* utk.ir.fg level changes */
.islandora-binary-object-object.islandora {
  float: left;
}

#block-islandora-compound-object-compound-jail-display > div {
  border-bottom : 0 dotted #ccc;
  padding-bottom: 1em;
  padding-right : 10px;
  padding-left  : 1em;
}

#breadcrumb a.strikethrough {
  color: var(--rock);
}

.islandora-solr-breadcrumb-super a {
  color: red;
}
.citation_author_container {
  text-indent: -25px; 
  padding-left: 25px;
}

