/* Removes text shawdowing from lists: ex. the Drupal admin toolbar */ 
 
.site-content li a { 
    text-shadow: none !important; 
    background: none !important;
    } 
    
 #search-bar {
	 height: 125px;
	 width: 100%;
	 background: #58595B;
 }